/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   normal styles apply
1800px + :      Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.group {
  display: flex;
  align-items: center; }

.h2 {
  color: #fa5652;
  font-weight: bold;
  font-family: 'RedHatDisplay', sans-serif;
  font-size: 2.5rem; }
  .h2--greater {
    font-size: 5rem;
    text-transform: capitalize; }
  .h2--medium {
    font-size: 4rem;
    text-transform: capitalize; }
  .h2--medium-2 {
    font-size: 4.5rem;
    text-transform: capitalize; }
  .h2--color-2 {
    color: #035755; }

.paragraph {
  width: 70%;
  font-size: 1.7rem;
  line-height: 3rem;
  text-transform: capitalize;
  color: #4b4f51; }
  .paragraph--2 {
    width: 50%;
    margin: 0 auto; }
  .paragraph--3 {
    width: 80%; }
  .paragraph--center {
    text-align: center; }

.container {
  width: 75vw;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .container {
      width: 85vw; } }
  .container__flex {
    display: flex;
    flex-direction: column; }

/*Reset universal selector*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@font-face {
  font-family: 'Gelion';
  src: url("../fonts/Gelion-Regular.ttf"); }

@font-face {
  font-family: 'RedHatDisplay';
  src: url("../fonts/RedHatDisplay-Bold.ttf"); }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Gelion', sans-serif;
  background: linear-gradient(90deg, #fff8f8 85%, white 100%); }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
  font-family: 'Gelion', sans-serif;
  line-height: 22px;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white:after {
    background-color: #fff; }

.btn--outline {
  background-color: transparent;
  border: 2px solid #fb4c47 !important;
  color: #ff383d; }
  .btn--outline:after {
    /*background-color: $color-btn-outline;*/
    border: 2px solid #ff383d; }

.btn--red {
  background-color: #ff383d;
  color: #fff; }
  .btn--red:after {
    background-color: #ff383d; }

.btn--red-2 {
  background-color: rgba(250, 86, 82, 0.15);
  color: #fa5652;
  text-transform: capitalize;
  font-weight: bold; }
  .btn--red-2:after {
    background-color: rgba(250, 86, 82, 0.15); }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.card {
  background: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 31%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  border-bottom: 5px solid transparent;
  transition: all .4s ease; }
  @media (max-width: 56.25em) {
    .card {
      padding: 1rem;
      justify-content: start; } }
  .card:hover {
    cursor: pointer;
    border-bottom-color: #fb4c47; }
  .card__img {
    display: flex;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 23rem;
    width: 100%; }
    .card__img--1 {
      background-image: url("../img/air-transmission.svg"); }
    .card__img--2 {
      background-image: url("../img/human-contact.svg"); }
    .card__img--3 {
      background-image: url("../img/objects.svg"); }
  .card__title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3rem;
    color: #035755; }
    @media (max-width: 56.25em) {
      .card__title {
        font-size: 2rem; } }
  .card__description {
    font-size: 1.5rem;
    line-height: 3rem;
    text-transform: capitalize;
    color: #4b4f51;
    text-align: center; }

.prevention-step {
  display: flex;
  width: 100%;
  margin: 2rem;
  align-items: center;
  justify-content: space-between; }
  .prevention-step--reverse {
    flex-direction: row-reverse; }
  .prevention-step__text {
    flex: 1 0 60%;
    display: flex;
    flex-direction: row; }
    .prevention-step__text--reverse {
      flex: 1 0 40%; }
      .prevention-step__text--reverse .paragraph {
        width: 100%; }
  .prevention-step__number {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: rgba(250, 86, 82, 0.15);
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    padding: 3rem;
    margin-right: 3rem; }
    .prevention-step__number span {
      font-size: 3rem;
      font-family: 'RedHatDisplay', sans-serif;
      color: #fa5652; }
  .prevention-step__img {
    flex: 1 0 40%; }
    .prevention-step__img img {
      width: 100%; }
    .prevention-step__img--reverse {
      flex: 1 0 45%; }
      .prevention-step__img--reverse img {
        width: 76%; }

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer__social-networks {
  font-size: 1.5rem;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .footer__social-networks .icon {
    width: 100%;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center; }
    .footer__social-networks .icon :hover {
      cursor: pointer; }
  .footer__social-networks .facebook {
    background-image: url("../img/facebook.svg"); }
  .footer__social-networks .youtube {
    background-image: url("../img/youtube.svg"); }
  .footer__social-networks .vimeo {
    background-image: url("../img/vimeo.svg"); }
  .footer__social-networks .twitter {
    background-image: url("../img/twitter.svg"); }

.footer__copyright {
  font-size: 1.7rem;
  color: #415e56;
  font-family: 'Gelion', sans-serif;
  line-height: 28px; }

.footer .navigation__list {
  display: flex; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 100vh;
  font-size: 1.6rem;
  /*background: linear-gradient(360deg, rgba(255, 248, 248, 0.5) 0%, rgba(255, 241, 241, 0) 108.69%);*/
  /*background: rgb(255,248,248);*/
  /*background: linear-gradient(90deg, rgba(255,248,248,1) 85%, rgba(255,255,255,1) 100%);*/
  background: linear-gradient(90deg, #fff8f8 85%, white 100%);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media (max-width: 56.25em) {
    .header {
      height: auto; } }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo-img {
      height: 63px; }
      @media (max-width: 56.25em) {
        .header__logo-img {
          height: 40px; } }
  .header__logo-text {
    font-family: 'RedHatDisplay', Consolas;
    font-weight: bold;
    color: #035755;
    font-size: 19px;
    line-height: 25px;
    text-transform: uppercase;
    margin-left: 1.2rem; }

.navigation {
  display: flex;
  flex-direction: row;
  width: 75vw;
  margin: 0 auto;
  padding-top: 2.6rem;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 56.25em) {
    .navigation {
      width: 85vw; } }
  .navigation__logo {
    display: inline-block; }
  .navigation__list {
    margin: 0; }
  .navigation__item {
    display: inline;
    text-decoration: none;
    margin-right: 3rem;
    transition: all 2s ease; }
  .navigation__link {
    color: #035755;
    text-decoration: none;
    position: relative;
    font-size: 1.8rem;
    line-height: 22px; }
    .navigation__link::after {
      display: inline-block;
      visibility: hidden;
      content: '';
      height: 6px;
      width: 6px;
      background-color: #fb4c47;
      border-radius: 50%;
      position: absolute;
      bottom: -10px;
      left: 45%; }
    .navigation__link:hover {
      /*padding-bottom: .8rem;
      border-bottom: 2px solid $color-text-primary-hover;*/
      color: #fb4c47; }
      .navigation__link:hover::after {
        visibility: visible; }

.illustration {
  margin-top: 4rem;
  background-image: url("../img/Illustration01.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 55%;
  display: flex;
  align-items: center;
  min-height: 85%; }
  @media (max-width: 56.25em) {
    .illustration {
      background-position: 36rem 0;
      background-size: 85%;
      min-height: auto; } }
  @media (max-width: 75em) {
    .illustration {
      margin-top: 0;
      background-position: center right; } }
  .illustration--text {
    line-height: 5rem; }
    .illustration--text .alert {
      color: #fa5652;
      font-weight: bold;
      font-family: 'RedHatDisplay', sans-serif; }
    .illustration--text .stay-at-home {
      width: 45%;
      font-size: 4rem;
      color: #035755;
      font-family: 'RedHatDisplay', sans-serif;
      margin-bottom: 2rem; }
      @media (max-width: 56.25em) {
        .illustration--text .stay-at-home {
          width: 40%; } }
    .illustration--text .message {
      width: 40%;
      text-transform: capitalize;
      color: #4b4f51;
      font-size: 1.7rem;
      font-family: 'Gelion', sans-serif;
      line-height: 190%;
      margin-bottom: 3.5rem; }
      @media (max-width: 56.25em) {
        .illustration--text .message {
          width: 50%; } }

.section-overview,
.section-contagion,
.section-symptoms,
.section-prevention,
.section-contact {
  min-height: 55vh; }

.section-overview {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  height: 100vh; }
  .section-overview--img {
    width: 100%; }
  .section-overview .img {
    flex: 1 0 50%; }
    @media (max-width: 56.25em) {
      .section-overview .img {
        flex: 1 0 40%; } }
  .section-overview .text {
    flex: 1 0 50%; }
    @media (max-width: 56.25em) {
      .section-overview .text {
        flex: 1 0 60%; }
        .section-overview .text .paragraph {
          width: 100%; } }
    @media (max-width: 75em) {
      .section-overview .text .paragraph {
        width: 100%; } }

.section-contagion {
  /*.container {
    /*position: relative;
    &:first-of-type {
      &::before{
        position: absolute;
        content: '';
        display: block;
        width: 100px;
        height: 50%;
        bottom: 0;
        left: -3rem;
        background-image: url("../img/virus1.svg");
        background-repeat: no-repeat;
      }
    }*/
  background-image: url("../img/virus1.svg");
  background-repeat: no-repeat;
  background-position: 5.2rem bottom;
  /*}*/ }
  .section-contagion__cards {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 56.25em) {
      .section-contagion__cards {
        flex-wrap: nowrap; } }
    @media (max-width: 75em) {
      .section-contagion__cards {
        flex-wrap: nowrap; } }
  @media (max-width: 56.25em) {
    .section-contagion {
      background-position: 1.2rem 53rem;
      background-size: 15%; } }

.section-symptoms {
  background-image: url("../img/symptomps-virus-2.svg"), url("../img/symptomps-virus-1.svg");
  background-repeat: no-repeat;
  background-position: 5.2rem 60rem, right bottom; }
  @media (max-width: 56.25em) {
    .section-symptoms {
      background-position: 1.2rem 55rem, right bottom;
      background-size: 12%, 20%; } }
  .section-symptoms__img {
    width: 80%;
    align-self: center; }

.section-prevention {
  background-image: url("../img/virus-2.svg"), url("../img/virus-3.svg"), url("../img/virus-4.svg");
  background-repeat: no-repeat;
  background-position: 0 55rem, right 85%, 100% bottom; }
  @media (max-width: 56.25em) {
    .section-prevention {
      background-size: 10%; } }
  @media (max-width: 75em) {
    .section-prevention {
      background-size: 10%; } }
  .section-prevention .prevention-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }

.section-contact .map {
  display: flex; }
  .section-contact .map .report {
    flex: 1 0 30%; }
  .section-contact .map__img {
    width: 50%;
    flex: 1 0 70%; }

.section-contact .contact-form {
  width: 50%;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .section-contact .contact-form {
      width: 60%; } }
  .section-contact .contact-form .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background: #FFFFFF;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
    border-radius: 57px; }
    .section-contact .contact-form .form input {
      border: none;
      margin-left: 1.5rem; }
      .section-contact .contact-form .form input:focus {
        border: none; }
