$bg-color: #fff8f8;
$color-primary: #55c57a;
$color-text-primary: #035755;
$color-text-primary-hover: #fb4c47;
$color-btn-outline: #ff383d;
$color-alert: #fa5652;
$color-tertiary: #4b4f51;
$color-footer: #415e56;
$color-control: #687089;
$color-separator: #dee1ed;

$border-color-btn: #fb4c47;

$color-grey-dark: #777;

$color-black: #000;
$color-white: #fff;

$default-font-size: 1.8rem;
$default-line-height: 22px;


// GRID
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;