.header {
	height: 95vh;
	font-size: 1.6rem;
	/*background: linear-gradient(360deg, rgba(255, 248, 248, 0.5) 0%, rgba(255, 241, 241, 0) 108.69%);*/
	/*background: rgb(255,248,248);*/
	/*background: linear-gradient(90deg, rgba(255,248,248,1) 85%, rgba(255,255,255,1) 100%);*/
	background: linear-gradient(90deg, rgba($bg-color, 1) 85%, rgba(255,255,255,1) 100%);
	background-size: cover;
	background-position: top;
	position: relative;

	@include respond(phone){
		/*-webkit-clip-path: polygon(0 0, 100% 0,100% 85vh,0 100%);
		clip-path: polygon(0 0, 100% 0,100% 85vh,0 100%);*/
	}

	&__logo{
		display: flex;
		align-items: center;

		&-img {
			height: 63px;
		}
	}

	&__logo-text {
		font-family: 'RedHatDisplay', Consolas;
		font-weight: bold;
		color: $color-text-primary;
		font-size: 19px;
		line-height: 25px;
		text-transform: uppercase;
		margin-left: 1.2rem;

	}

}
