.header {
	height: 100vh;
	font-size: 1.6rem;
	background: linear-gradient(90deg, rgba($bg-color, 1) 85%, rgba(255,255,255,1) 100%);
	background-size: cover;
	background-position: top;
	position: relative;

	@include respond(tab-port){
		height: auto;
	}

	&__logo{
		display: flex;
		align-items: center;

		@include respond(phone){
			flex: 1 0 50%;
		}

		&-img {
			height: 63px;
			@include respond(tab-port){
				height: 40px;
			}
			@include respond(phone){
				height: 30px;
			}
		}
	}

	&__logo-text {
		font-family: 'RedHatDisplay', Consolas;
		font-weight: bold;
		color: $color-text-primary;
		font-size: 19px;
		line-height: 25px;
		text-transform: uppercase;
		margin-left: 1.2rem;

		@include respond(phone){
			font-size: 2.2rem;
		}
	}



	&__menu {
		//text-align: right;
		display: none;
		height: 7rem;
		width: 7rem;
		border-radius: 50%;
		box-shadow: 0 1rem 3rem rgba($color-alert, 0.4);
		text-align: center;
		cursor: pointer;

		&-btn {
			display: none;
			&:checked ~ .navigation__list {
				display: flex;
			}

			&:checked + .header__menu .header__menu-icon {
				background: transparent;
			}

			&:checked + .header__menu .header__menu-icon::before {
				top: 0;
				transform: rotate(135deg);
			}

			&:checked + .header__menu .header__menu-icon::after {
				top: 0;
				transform: rotate(45deg);
			}
		}

		&-icon {
			position: relative;
			margin-top: 3.6rem;

			&,
			&::after,
			&::before {
				width: 3rem;
				height: 2px;
				background-color: $color-alert;
				display: inline-block;
			}

			&::after,
			&::before {
				content: "";
				position: absolute;
				left: 0;
				transition: all .2s;
			}

			&::after {
				top: .8rem;
			}

			&::before {
				top: -.8rem;
			}
		}

		@include respond(phone){
			display: inline-block;
			/*flex: 1 0 50%;*/
		}
	}

}
