.illustration {
  position: relative;
  margin-top: 4rem;
  /*background-image: url("../img/Illustration01.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 55%;*/
  display: flex;
  align-items: center;
  min-height: 85%;

  &:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../img/Illustration01.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;

    @include respond(phone) {
      background-position: -27rem center;
      background-size: cover;
      opacity: 0.2;
      z-index: 0;
    }
  }

  @include respond(tab-port) {
    background-position: 36rem 0;
    background-size: 85%;
    min-height: auto;
  }

  @include respond(tab-land) {
    margin-top: 0;
    background-position: center right;
  }

  @include respond(phone) {
    height: 95vh;
  }

  &--text {
    line-height: 5rem;
    z-index: 9999;

    @include respond(phone) {
      width: 100%;
      text-align: center;
    }

    .alert {
      color: $color-alert;
      font-weight: bold;
      font-family: 'RedHatDisplay', sans-serif;
    }

    .stay-at-home {
      width: 45%;
      font-size: 4rem;
      color: $color-text-primary;
      font-family: 'RedHatDisplay', sans-serif;
      margin-bottom: 2rem;

      @include respond(tab-port) {
        width: 40%;
      }

      @include respond(phone) {
        width: 100%;
        text-align: center;
      }

    }

    .message {
      width: 40%;
      text-transform: capitalize;
      color: $color-tertiary;
      font-size: 1.7rem;
      font-family: 'Gelion', sans-serif;
      line-height: 190%;
      margin-bottom: 3.5rem;

      @include respond(tab-port) {
        width: 50%;
      }

      @include respond(phone) {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.section-overview,
.section-contagion,
.section-symptoms,
.section-prevention,
.section-contact {
  min-height: 55vh;
  margin-bottom: 15rem;
  @include respond(phone) {
    margin-bottom: 10rem;
    min-height: 95vh;
  }
}

.section-overview {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  height: 100vh;

  @include respond(phone) {
    flex-direction: column;
  }

  &--img {
    width: 100%;
  }

  .img {
    flex: 1 0 50%;
    @include respond(tab-port) {
      flex: 1 0 40%;
    }
  }

  .text {
    flex: 1 0 50%;
    @include respond(tab-port) {
      flex: 1 0 60%;
      .paragraph {
        width: 100%;
      }
    }
    @include respond(tab-land) {
      .paragraph {
        width: 100%;
      }
    }
  }
}

.section-contagion {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    @include respond(tab-port) {
      flex-wrap: nowrap;
    }
    @include respond(tab-land) {
      flex-wrap: nowrap;
    }
    @include respond(phone) {
      align-items: center;
      flex-direction: column;
    }
  }

  background-image: url("../img/virus1.svg");
  background-repeat: no-repeat;
  background-position: 5.2rem bottom;

  @include respond(tab-port) {
    background-position: 1.2rem 53rem;
    background-size: 15%;
  }

}

.section-symptoms {
  background-image: url("../img/symptomps-virus-2.svg"),
  url("../img/symptomps-virus-1.svg");
  background-repeat: no-repeat;
  background-position: 5.2rem 60rem,
  right bottom;

  @include respond(tab-port) {
    background-position: 1.2rem 55rem, right bottom;
    background-size: 12%, 20%;
  }

  &__img {
    width: 80%;
    align-self: center;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.section-prevention {
  background-image: url("../img/virus-2.svg"),
  url("../img/virus-3.svg"),
  url("../img/virus-4.svg");
  background-repeat: no-repeat;
  background-position: 0 55rem,
  right 85%,
  100% bottom;

  @include respond(tab-port) {
    background-size: 10%;
  }

  @include respond(tab-land) {
    background-size: 10%;
  }

  .prevention-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.section-contact {
  min-height: 50vh;

  .map-coronavirus {
    display: flex;
    flex-wrap: wrap;

    .report {
      flex: 1 0 25%;

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__navigate {
        width: 6.5rem;
        height: 4rem;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: #FFFFFF;
        box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
        border-radius: 6.16667px;
      }

      &__left-arrow,
      &__right-arrow {
        width: 10px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &__left-arrow {
        background-image: url("../img/left-arrow.svg");
      }

      &__right-arrow {
        background-image: url("../img/right-arrow.svg");
      }

      &__countries {
        margin-top: 2rem;
      }

      &__country {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__country-name {
        font-size: 2.3rem;
        font-family: 'Gelion', sans-serif;
        color: $color-text-primary;
        font-weight: bold;
      }

      &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }

      &__flag {
        width: 45px;
        height: 30px;
        background-position: center;
        background-size: cover;
        display: inline-block;
        margin-right: 2.5rem;

        &--usa {
          background-image: url("../img/flags/usa.svg");
        }

        &--italy {
          background-image: url("../img/flags/italy.svg");
        }

        &--china {
          background-image: url("../img/flags/china.svg");
        }

        &--spain {
          background-image: url("../img/flags/spain.svg");
        }

        &--iran {
          background-image: url("../img/flags/iran.svg");
        }

        &--germany {
          background-image: url("../img/flags/germany.svg");
        }
      }

      &__data {
        width: 32%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &-arrow {
          margin-left: 1rem;
          width: 20px;
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;

          &--up {
            background-image: url("../img/arrow-up.svg");
          }

          &--down {
            background-image: url("../img/arrow-down.svg");
          }
        }

        &-number {
          font-size: 1.7rem;
          font-weight: bold;
          font-family: 'Gelion', sans-serif;
          color: $color-text-primary;
        }
      }
    }

    .map {
      position: relative;
      flex: 1 0 65%;
      margin-right: 2rem;

      @include respond(phone) {
        flex: 1 0 100%;
        margin-right: 0;
      }

      &__img {
        width: 100%;
        @include respond(phone) {
          width: 100%;
        }
      }

      .search {
        box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
        border-radius: 5px;
        width: 5rem;
        height: 5rem;
        position: absolute;
        background: $color-white;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
          background-image: url("../img/lens.svg");
          background-size: cover;
          width: 50%;
          height: 50%;
        }
      }
    }
  }

  .contact-form {
    width: 50%;
    margin: 0 auto;

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(phone) {
      width: 100%;
    }


    .form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem;
      background: #FFFFFF;
      box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
      border-radius: 57px;

      div {
        width: 100%;

        input {
          width: 90%;
        }
      }

      @include respond(phone) {
        .btn {
          padding: 1rem 2rem;
        }
      }

      input {
        border: none;
        margin-left: 1.5rem;

        &:focus {
          border: none;
          outline-width: 0;
        }
      }
    }
  }
}