.illustration {
  position: relative;
  margin-top: 4rem;
  /*background-image: url("../img/Illustration01.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 55%;*/
  display: flex;
  align-items: center;
  min-height: 85%;
  &:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../img/Illustration01.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;

    @include respond(phone) {
      background-position: -27rem center;
      background-size: cover;
      opacity: 0.2;
      z-index: 0;
    }
  }

  @include respond(tab-port) {
    background-position: 36rem 0;
    background-size: 85%;
    min-height: auto;
  }

  @include respond(tab-land) {
    margin-top: 0;
    background-position: center right;
  }

  @include respond(phone) {
    height: 95vh;
  }

  &--text {
    line-height: 5rem;
    z-index: 9999;

    @include respond(phone) {
      width: 100%;
      text-align: center;
    }

    .alert {
      color: $color-alert;
      font-weight: bold;
      font-family: 'RedHatDisplay', sans-serif;
    }

    .stay-at-home {
      width: 45%;
      font-size: 4rem;
      color: $color-text-primary;
      font-family: 'RedHatDisplay', sans-serif;
      margin-bottom: 2rem;

      @include respond(tab-port) {
        width: 40%;
      }

      @include respond(phone) {
        width: 100%;
        text-align: center;
      }

    }

    .message {
      width: 40%;
      text-transform: capitalize;
      color: $color-tertiary;
      font-size: 1.7rem;
      font-family: 'Gelion', sans-serif;
      line-height: 190%;
      margin-bottom: 3.5rem;

      @include respond(tab-port) {
        width: 50%;
      }

      @include respond(phone) {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.section-overview,
.section-contagion,
.section-symptoms,
.section-prevention,
.section-contact {
  min-height: 55vh;
  @include respond(phone) {
    margin-bottom: 10rem;
    min-height: 95vh;
  }
}

.section-overview {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  height: 100vh;

  @include respond(phone) {
    flex-direction: column;
  }

  &--img {
    width: 100%;
  }

  .img {
    flex: 1 0 50%;
    @include respond(tab-port) {
      flex: 1 0 40%;
    }
  }

  .text {
    flex: 1 0 50%;
    @include respond(tab-port) {
      flex: 1 0 60%;
      .paragraph {
        width: 100%;
      }
    }
    @include respond(tab-land) {
      .paragraph {
        width: 100%;
      }
    }
  }
}

.section-contagion {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    @include respond(tab-port) {
      flex-wrap: nowrap;
    }
    @include respond(tab-land) {
      flex-wrap: nowrap;
    }
    @include respond(phone) {
      align-items: center;
      flex-direction: column;
    }
  }

  background-image: url("../img/virus1.svg");
  background-repeat: no-repeat;
  background-position: 5.2rem bottom;

  @include respond(tab-port) {
    background-position: 1.2rem 53rem;
    background-size: 15%;
  }

}

.section-symptoms {
  background-image: url("../img/symptomps-virus-2.svg"),
  url("../img/symptomps-virus-1.svg");
  background-repeat: no-repeat;
  background-position: 5.2rem 60rem,
  right bottom;

  @include respond(tab-port) {
    background-position: 1.2rem 55rem, right bottom;
    background-size: 12%, 20%;
  }

  &__img {
    width: 80%;
    align-self: center;

    @include respond(phone) {
      width: 100%;
    }
  }
}

.section-prevention {
  background-image: url("../img/virus-2.svg"),
  url("../img/virus-3.svg"),
  url("../img/virus-4.svg");
  background-repeat: no-repeat;
  background-position: 0 55rem,
  right 85%,
  100% bottom;

  @include respond(tab-port) {
    background-size: 10%;
  }

  @include respond(tab-land) {
    background-size: 10%;
  }

  .prevention-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.section-contact {
  margin-bottom: 0;
  min-height: 50vh;
  .map {
    display: flex;
    flex-wrap: wrap;

    .report {
      flex: 1 0 30%;
    }

    &__img {
      width: 50%;
      flex: 1 0 70%;
      @include respond(phone) {
        width: 100%;
      }
    }
  }

  .contact-form {
    width: 50%;
    margin: 0 auto;

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(phone) {
      width: 100%;
    }


    .form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem;
      background: #FFFFFF;
      box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
      border-radius: 57px;

      div {
        width: 100%;
        input {
          width: 90%;
        }
      }

      @include respond(phone) {
        .btn {
          padding: 1rem 2rem;
        }
      }

      input {
        border: none;
        margin-left: 1.5rem;

        &:focus {
          border: none;
          outline-width: 0;
        }
      }
    }
  }
}