.illustration {
  margin-top: 4rem;
  background-image: url("../img/Illustration01.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 55%;
  display: flex;
  align-items: center;
  min-height: 85%;

  &--text {
    width: 32%;
    margin-left: 18rem;
    line-height: 5rem;

    .alert {
      color: $color-alert;
      font-weight: bold;
      font-family: 'RedHatDisplay', sans-serif;
    }

    .stay-at-home {
      font-size: 4rem;
      color: $color-text-primary;
      font-family: 'RedHatDisplay', sans-serif;
      margin-bottom: 2rem;
    }

    .message {
      color: $color-tertiary;
      font-size: 1.7rem;
      font-family: 'Gelion', sans-serif;
      line-height: 190%;
      margin-bottom: 3.5rem;
    }
  }
}

.section-overview,
.section-contagion {
  min-height: 55vh;
}

.section-overview {
  padding-top: 4rem;
  display: flex;
  align-items: center;

  &--img {
    width: 100%;
  }

  .img {
    flex: 1 0 50%;
  }

  .text {
    flex: 1 0 50%;
  }
}

.section-contagion {
  &__cards {
    display: flex;
    flex-wrap: wrap;
  }

  /*.container {
    /*position: relative;
    &:first-of-type {
      &::before{
        position: absolute;
        content: '';
        display: block;
        width: 100px;
        height: 50%;
        bottom: 0;
        left: -3rem;
        background-image: url("../img/virus1.svg");
        background-repeat: no-repeat;
      }
    }*/
    background-image: url("../img/virus1.svg");
    background-repeat: no-repeat;
    background-position: 5.2rem bottom;
  /*}*/
}
